Repository btcsuite/btcd, pull requests merged in 2020-08, with the labels that each got.

#1610 release: update release README.md and remove old scripts
  release/README.md
  release/notes.sample
  release/prep_release.sh
  release/release.sh
Labels: documentation

#1620 btcd: bump version to v0.21.0-beta
  cmd/btcctl/version.go
  version.go
Labels: build

#1463 blockchain: remove unknown block version warning
  blockchain/chain.go
  blockchain/thresholdstate.go
  blockchain/versionbits.go
Labels: low priority

#1578 rpcclient: Add getdescriptorinfo RPC call
  btcjson/chainsvrcmds.go
  btcjson/chainsvrcmds_test.go
  btcjson/chainsvrresults.go
  rpcclient/chain.go
  rpcclient/example_test.go
Labels: enhancement, rpc

#1579 rpcclient: Add getblockfilter JSON-RPC client command
  btcjson/chainsvrcmds.go
  btcjson/chainsvrcmds_test.go
  btcjson/chainsvrresults.go
  btcjson/helpers.go
  rpcclient/chain.go
Labels: enhancement, rpc

#1585 Implement signmessagewithprivkey JSON-RPC command (rpc server)
  btcjson/chainsvrcmds.go
  btcjson/chainsvrcmds_test.go
  rpcserver.go
  rpcserverhelp.go
Labels: enhancement, rpc

#1584 rpcclient: Implement importmulti JSON-RPC client command
  btcjson/walletsvrcmds.go
  btcjson/walletsvrcmds_test.go
  btcjson/walletsvrresults.go
  rpcclient/example_test.go
  rpcclient/wallet.go
Labels: enhancement, rpc

#1465 Add Dockerfile to build and run btcd on Docker.
  Dockerfile
  docs/README.md
  docs/using_docker.md
Labels: enhancement, low priority
