Repository btcsuite/btcd, pull requests merged in 2020-09, with the labels that each got.

#1468 Heavy rework on documentation
  README.md
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/code_contribution_guidelines.md
  docs/conf.py
  docs/configuration.md
  docs/configure_peer_server_listen_interfaces.md
  docs/configure_rpc_server_listen_interfaces.md
  docs/configuring_tor.md
  docs/contact.md
  docs/controlling.md
  docs/default_ports.md
  docs/developer_resources.md
  docs/index.md
  docs/installation.md
  docs/json_rpc_api.md
  docs/make.bat
  docs/mining.md
  docs/requirements.txt
  docs/table_of_content.md
  docs/update.md
  docs/using_bootstrap_dat.md
  docs/wallet.md
Labels: documentation, low priority

#1565 btcec: set curve name in CurveParams
  btcec/btcec.go
Labels: btcec, enhancement

#1594 Nullable optional JSON-RPC parameters
  btcjson/cmdparse.go
  btcjson/cmdparse_test.go
Labels: enhancement, rpc

#1601 GitHub Actions: Enable Go Race detector and code coverage
  .github/workflows/go.yml
  .gitignore
  README.md
  goclean.sh
Labels: build

#1590 Add getnodeaddresses JSON-RPC support (rpc client & server)
  btcjson/chainsvrcmds.go
  btcjson/chainsvrcmds_test.go
  btcjson/chainsvrresults.go
  rpcadapters.go
  rpcclient/net.go
  rpcserver.go
  rpcserverhelp.go
Labels: enhancement, rpc

#1596 btcjson,rpcclient: add support for PSBT commands to rpcclient
  btcjson/chainsvrcmds.go
  btcjson/chainsvrcmds_test.go
  btcjson/walletsvrcmds.go
  btcjson/walletsvrcmds_test.go
  btcjson/walletsvrresults.go
  rpcclient/wallet.go
Labels: enhancement, rpc

#1451 Added ListSinceBlockMinConfWatchOnly method.
  btcjson/walletsvrcmds_test.go
  rpcclient/wallet.go
Labels: enhancement, rpc

#1632 wire: add proper types for flag field and improve docs
  wire/msgtx.go
  wire/msgtx_test.go
Labels: documentation

#1631 rpcclient: add deriveaddresses RPC command
  btcjson/chainsvrcmds.go
  btcjson/chainsvrcmds_test.go
  btcjson/chainsvrresults.go
  rpcclient/chain.go
  rpcclient/example_test.go
Labels: rpc

#1635 btcjson: add test for null params in searchrawtransactions
  btcjson/chainsvrcmds_test.go
Labels: rpc

#1629 GetBlockTemplate RPC client implementation
  btcjson/chainsvrcmds.go
  btcjson/chainsvrresults.go
  rpcclient/mining.go
  rpcserverhelp.go
Labels: rpc

#1633 rpcclient: implement getaddressinfo command
  btcjson/walletsvrcmds.go
  btcjson/walletsvrcmds_test.go
  btcjson/walletsvrresults.go
  btcjson/walletsvrresults_test.go
  rpcclient/example_test.go
  rpcclient/wallet.go
  txscript/standard.go
  txscript/standard_test.go
Labels: rpc

#1638 rpcclient: implement getwalletinfo command
  btcjson/walletsvrresults.go
  btcjson/walletsvrresults_test.go
  rpcclient/example_test.go
  rpcclient/wallet.go
Labels: rpc
