Repository btcsuite/btcd, pull requests merged in 2021-02, with the labels that each got.

#1615 Improve gc for isunspendable method
  txscript/opcode.go
  txscript/script.go
  txscript/script_test.go
Labels: enhancement

#1691 btcec: validate R and S signature components in RecoverCompact
  btcec/signature.go
  btcec/signature_test.go
Labels: btcec, bug

#1583 Add Batch JSON-RPC support (rpc client & server)
  btcjson/btcdextcmds_test.go
  btcjson/btcwalletextcmds_test.go
  btcjson/chainsvrcmds_test.go
  btcjson/chainsvrwscmds_test.go
  btcjson/chainsvrwsntfns_test.go
  btcjson/cmdparse.go
  btcjson/cmdparse_test.go
  btcjson/example_test.go
  btcjson/jsonrpc.go
  btcjson/jsonrpc_test.go
  btcjson/walletsvrcmds_test.go
  btcjson/walletsvrwscmds_test.go
  btcjson/walletsvrwsntfns_test.go
  cmd/btcctl/btcctl.go
  integration/bip0009_test.go
  integration/csv_fork_test.go
  integration/rpcserver_test.go
  integration/rpctest/rpc_harness.go
  integration/rpctest/rpc_harness_test.go
  integration/rpctest/utils.go
  rpcclient/examples/bitcoincorehttpbulk/README.md
  rpcclient/examples/bitcoincorehttpbulk/main.go
  rpcclient/infrastructure.go
  rpcclient/rawrequest.go
  rpcserver.go
  rpcwebsocket.go
Labels: enhancement, rpc
