Repository btcsuite/btcd, pull requests merged in 2022-04, with the labels that each got.

#1837 Default to JSONRPC 1.0 if the rpcVersion empty
  btcjson/jsonrpc.go
Labels: bug, rpc

#1838 chaincfg: use lower custom activation threshold for regtest+simnet
  chaincfg/params.go
Labels: BIP 9, taproot

#1810 rpcclient: add getzmqnotifications RPC
  btcjson/chainsvrcmds_test.go
  btcjson/chainsvrresults_test.go
  btcjson/zmqsvrcmds.go
  btcjson/zmqsvrresults.go
  rpcclient/zmq.go
Labels: rpc

#1820 btcec/schnorr/musig2: add new musig2 implementation based on musig2 draft BIP
  btcec/go.mod
  btcec/go.sum
  btcec/schnorr/musig2/bench_test.go
  btcec/schnorr/musig2/context.go
  btcec/schnorr/musig2/keys.go
  btcec/schnorr/musig2/musig2_test.go
  btcec/schnorr/musig2/nonces.go
  btcec/schnorr/musig2/sign.go
  btcec/schnorr/signature.go
Labels: taproot, schnorr
